@*@model HYT.NewsDemo.ViewModels.NewsEditViewModel*@
<div>
    @*<input id="newsId" type="hidden" name="id" value="@Model.News.id" />
        新闻标题 <input id="title" type="text" name="title" value="@Model.News.newsTitle" /><br />
        新闻内容<input id="content" type="text" name="content" value="@Model.News.newsContent" /><br />*@

    <input id="newsId" type="hidden" name="id" value="@Model.Id" />
    新闻标题 <input id="title" type="text" name="title" value="@Model.NewsTitle" /><br />
    新闻内容<input id="content" type="text" name="content" value="@Model.NewsContent" /><br />

</div>

